// COLOR VARIABLES
$headerColor: darkred;
$navColor: brown;
$buttonBGColor: white;
$buttonColor: black;
$buttonBorder: 1px solid black;

$contBGColor: bisque;
$contBorder1: 6px double #d4b692;
$contBorder2: 2px solid #d4b692;

// FONTS VARIABLES
$logoFont: "Alex Brush";
$primaryFont: 'Inter', sans-serif;
$secondaryFont: "Alumni Sans";
$defaultFS: 1em;
$titleFS: 3em;
$titleFSDesktop: 70px;
$customerTitleFS: 1.5em;
$customerTitleFSTablet: 2.3em;
$customerTitleFSDesktop: 40px;
$customerTextFS: .85em;
$customerTextFSTablet: 1.2em;
$subtitleFS: 1.3em;
$subtitleFSTablet: 2em;
$productFS: .85em;
$productFSTablet: .7em;